@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<label>Name: </label> <em>Kaloyan Velichkov</em> <br>
<label>Faculty number: </label> <em>1501261021</em>

<br><br>

<b><em>Plovdiv University. FMI.</em></b>